<div class="fr-mb-3w" id="readonly-rights">
  <h3 class="fr-h6 fr-mb-2w"><%= t('instruction.user_rights.edit.readonly_section') %></h3>
  <% grouped_rights.each do |role_type, role_type_rights| %>
    <% labels = scope_labels(role_type_rights) %>
    <%= helpers.dsfr_alert type: :info,
                           title: alert_message(role_type),
                           header_level: 4,
                           html_attributes: { class: 'fr-mb-2w' } do %>
      <% if labels.any? %>
        <p class="fr-mb-0"><%= t('instruction.user_rights.edit.readonly_scopes', scopes: labels.to_sentence) %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
