<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { authorization_request:, title: f.wording_for('steps.modalities'), block_id: :modalities, f:, editable: } do %>
  <% if f.wording_for('modalities.intro') %>
    <%= f.wording_for('modalities.intro').html_safe %>
  <% end %>

  <ul>
    <% Array(authorization_request.modalities).each do |modality| %>
      <li>
        <%= f.label_value("modalities.values.#{modality}").html_safe %>

        <% if modality.match?('france_connect') %>
          <% if authorization_request.try(:france_connect_authorization_id).present? && authorization_request.with_france_connect? %>
            -> <%= link_to authorization_request.france_connect_authorization.decorate.name_for_select, authorization_path(authorization_request.france_connect_authorization), target: '_blank' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
