<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { authorization_request:, title: f.wording_for('steps.modalities'), block_id: :modalities, f:, editable: } do %>
  <% if f.wording_for('modalities.intro') %>
    <%= f.wording_for('modalities.intro').html_safe %>
  <% end %>

  <ul>
    <% Array(authorization_request.modalities).each do |modality| %>
      <li>
        <%= f.label_value("modalities.values.#{modality}").html_safe %>

        <% if modality.match?('france_connect') %>
          <% authorization_request.france_connected_authorizations.each do |fc_authorization| %>
            -> <%= link_to fc_authorization.decorate.name_for_select, authorization_path(fc_authorization), target: '_blank' %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
