<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
  <div class="fr-col-12">
      <h3 class="with-icon fr-mt-8w fr-mb-0 dashboard-title__panel fr-text-title--blue-france">
        <%= t("dashboard.show.lists.#{kind}_title") %>
      </h3>
  </div>

  <% items.each do |item| %>
    <div class="fr-col-12">
      <% if item.is_a?(AuthorizationRequest) %>
        <%= render item, authorization_request: item %>
      <% elsif item.is_a?(Authorization) %>
        <%= render item, authorization: item %>
      <% end %>
    </div>
  <% end %>
</div>

