<div class="fr-my-5w">
  <h1 class="fr-h2">Conditions Générales d'Utilisation de l'API Impôt Particulier (environnement de production)</h1>
</div>

<div>
  <p class="fr-text--lg">
    Retrouvez ci-dessous les mentions légales et les conditions d'utilisation de l'API Impôt Particulier.
  </p>

  <ul class="fr-text--md fr-text--bold fr-my-3w">
    <li>
      <%= link_to "CGUs sans connexion France Connect", "/cgus/dgfip/cgu_api_impot_particulier_production_hors_connexion_fc_decembre2022_v4.0.pdf" %>
    </li>
    <li>
      <%= link_to "CGUs avec connexion France Connect", "/cgus/dgfip/cgu_api_impot_particulier_production_connexion_fc_septembre2020_v5.5.pdf" %>
    </li>
  </ul>
</div>
