<% set_title! t('page_titles.legal_notice') %>

<article class="fr-my-5w fr-container">
  <h1>Mentions légales</h1>

  <section class="fr-mb-5w fr-mt-4w">
    <h2>Éditeur</h2>
    <p>
      DataPass est édité par la Direction interministérielle du numérique (DINUM) :
    </p>
    <address class="fr-mt-2w">
      <p class="fr-mb-0">
        <strong>Direction interministérielle du numérique</strong><br>
        20 avenue de Ségur<br>
        75007 Paris<br>
        France
      </p>
      <p class="fr-mt-2w fr-mb-0">
        <strong>Téléphone :</strong> 01 71 21 01 70
      </p>
    </address>
  </section>

  <section class="fr-mb-5w">
    <h2>Directrice de la publication</h2>
    <p>
      La directrice de la publication est madame Stéphanie Schaer, en sa qualité de directrice interministérielle du numérique.
    </p>
  </section>

  <section class="fr-mb-5w">
    <h2>Hébergement</h2>
    <p>
      Ce site est hébergé par OVH :
    </p>
    <address class="fr-mt-2w">
      <p class="fr-mb-0">
        <strong>OVH</strong><br>
        2 rue Kellermann<br>
        59100 Roubaix<br>
        France
      </p>
      <p class="fr-mt-2w fr-mb-0">
        <strong>Téléphone :</strong> 1007
      </p>
    </address>
  </section>

  <section class="fr-mb-5w">
    <h2>Réutilisation des contenus</h2>
    <p>
      Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de DataPass sont proposés sous <a href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf" target="_blank" rel="noopener_external" title="licence ouverte 2.0 - nouvelle fenêtre" class="fr-link">licence ouverte 2.0</a>.
    </p>
  </section>
</article>
