<% set_title! t('page_titles.privacy_policy') %>

<article class="fr-my-5w">
  <h1>Politique de confidentialité</h1>

  <section class="fr-mt-5w">
    <h2 class="fr-h4">Qui est responsable de DataPass ?</h2>

    <p>
      DataPass est développé au sein de la Direction interministérielle du numérique (DINUM). Il s’agit
      d’un produit numérique qui permet de gérer les demandes d’accès aux données protégées et
      délivrer des habilitations.
    </p>

    <p>
      Le responsable de traitement est la DINUM, représentée par madame Stéphanie Schaer, en sa
      qualité de directrice interministérielle du numérique.
    </p>
  </section>

  <section class="fr-mt-5w">
    <h2 class="fr-h4">Pourquoi et comment vos données à caractère personnel sont traitées ?</h2>

    <div class="fr-table fr-table--bordered">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption class="fr-text--sm">Détail du traitement des données personnelles</caption>
              <thead>
                <tr>
                  <th scope="col">Données</th>
                  <th scope="col">Finalité poursuivie</th>
                  <th scope="col">Fondement juridique</th>
                  <th scope="col">Durée de conservation</th>
                  <th scope="col">Destinataires</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fr-cell--multiline">Nom, prénom, adresse courriel, numéro de téléphone professionnel du demandeur</td>
                  <td class="fr-cell--multiline">Identifier le demandeur par le biais de ProConnect et le contacter le cas échéant Réaliser des entretiens avec les utilisateurs qui ont récemment soumis des demandes d’habilitation</td>
                  <td class="fr-cell--multiline">Mission d’intérêt public relevant de la compétence de la DINUM (article 6 - 3 et 11° du décret n° 2019-1088 du 25 octobre 2019)</td>
                  <td class="fr-cell--multiline">3 ans à compter de la fin de l’habilitation</td>
                  <td class="fr-cell--multiline">Chaque administration concernée par la demande</td>
                </tr>
                <tr>
                  <td class="fr-cell--multiline">Nom, prénom, adresse courriel, numéro de téléphone du responsable de traitement, délégué à la protection des données et contacts techniques et métiers</td>
                  <td class="fr-cell--multiline">Contacter les parties prenantes en cas de problème</td>
                  <td class="fr-cell--multiline">Mission d’intérêt public relevant de la compétence de la DINUM (article 6 - 3 et 11° du décret n° 2019-1088 du 25 octobre 2019)</td>
                  <td class="fr-cell--multiline">3 ans à compter de la fin de l’habilitation</td>
                  <td class="fr-cell--multiline">Chaque administration concernée par la demande</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <p class="fr-mt-3w">Notamment, les destinataires sont les fournisseurs de données suivants :</p>

    <ul>
      <li>DINUM ;</li>
      <li>Organisation de la direction générale de la santé (DGS) ;</li>
      <li>Agence pour l’information financière de l’Etat ;</li>
      <li>Direction de l’information légale et administrative (DILA) ;</li>
      <li>Centre Interministériel des Systèmes d’Information relatifs aux Ressources Humaines ;</li>
      <li>Agence du Numérique en Santé (ANS) ;</li>
      <li>DGFiP ;</li>
      <li>Ministère de la Transition écologique ;</li>
      <li>Ministère de l’Education nationale et de la Jeunesse ;</li>
      <li>URSSAF ;</li>
      <li>ANSSI.</li>
    </ul>
  </section>

  <section class="fr-mt-5w">
    <h2 class="fr-h4">Qui nous aide à traiter vos données à caractère personnel ?</h2>

    <p>
      Afin d’héberger vos données à caractère personnel ou réaliser de la mesure d’audience, nous
      faisons appel à des sous-traitants. Avant de lui transmettre vos données, nous nous sommes
      assurés de la mise en œuvre de garanties adéquates, notamment en matière de confidentialité
      et de sécurité des données.
    </p>

    <div class="fr-table fr-table--bordered fr-mt-2w">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption class="fr-text--sm">Liste des sous-traitants</caption>
              <thead>
                <tr>
                  <th scope="col">Partenaire</th>
                  <th scope="col">Pays destinataire</th>
                  <th scope="col">Traitement réalisé</th>
                  <th scope="col">Garanties</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>OVH</td>
                  <td>France</td>
                  <td>Hébergement des données</td>
                  <td class="fr-cell--multiline">
                    <a href="https://us.ovhcloud.com/legal/data-processing-agreement/" target="_blank" rel="noopener" title="DPA OVH - nouvelle fenêtre">https://us.ovhcloud.com/legal/data-processing-agreement/</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fr-mt-5w">
    <h2 class="fr-h4">Quels sont vos droits ?</h2>

    <p>Vous disposez :</p>

    <ul>
      <li>D’un droit d’information et d’un droit d’accès à vos données ;</li>
      <li>D’un droit à la limitation du traitement de vos données ;</li>
      <li>D’un droit de rectification ;</li>
      <li>D’un droit d’opposition.</li>
    </ul>

    <p class="fr-mt-2w">Pour les exercer, contactez nous par message électronique : <a href="mailto:dpd@pm.gouv.fr">dpd@pm.gouv.fr</a></p>

    <p>Ou par voie postale à l’adresse suivante :</p>

    <address class="fr-mb-2w">
      Services du Premier ministre<br>
      À l’attention du délégué à la protection des données (DPD)<br>
      56 rue de Varenne<br>
      75007 Paris
    </address>

    <p>
      Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes
      en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous
      pouvons être amenés à vous demander une preuve de votre identité.
    </p>

    <p class="fr-mt-2w">
      Pour vous aider dans votre démarche, vous trouverez un modèle de demande élaboré par la
      CNIL ici : <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" target="_blank" rel="noopener" title="Modèle CNIL pour exercer son droit d’accès - nouvelle fenêtre">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>
    </p>

    <p>
      Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois
      à compter de la réception de votre demande.
    </p>
  </section>

  <section class="fr-mt-5w">
    <h2 class="fr-h4">Témoins de connexion et traceurs</h2>

    <p>
      DataPass utilise la solution Matomo, configurée en mode exempté et ne nécessitant pas le
      recueil de votre consentement conformément aux recommandations de la CNIL.
    </p>
  </section>
</article>
