<div class="fr-modal__content">
  <% if policy(@authorization_request).send_message? %>
    <div id="<%= dom_id(@authorization_request, :message_form) %>" class="message-form">
      <% messages_url = @authorization.present? ? authorization_messages_path(@authorization) : authorization_request_messages_path(@authorization_request) %>
      <%= render partial: 'form', locals: { url: messages_url } %>
    </div>
  <% end %>

  <div id="<%= dom_id(@authorization_request, :messages) %>" class="fr-mt-4v">
    <%= render @messages %>
  </div>
</div>
