<div class="fr-modal__content">
  <% if policy(@authorization_request).send_message? %>
    <div class="message-form">
      <%= render partial: "form",
      locals: {
        url: authorization_request_messages_path(@authorization_request),
      } %>
    </div>
  <% end %>

  <div id="<%= dom_id(@authorization_request, :messages) %>" class="fr-mt-4v">
    <%= render @messages %>
  </div>
</div>
