<div class="simple-page-action-wrapper fr-pt-5w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-md-offset-1 fr-col-md-10">
      <turbo-frame id="main-modal-content">
        <%= render "index" %>
      </turbo-frame>
    </div>
  </div>
</div>
