<div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
  <div class="fr-col-6">
    <%= form.dsfr_url_field :link %>
  </div>
  <div class="fr-col-6">
    <%= form.dsfr_url_field :cgu_link %>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--align-bottom">
  <div class="fr-col-6">
    <%= form.dsfr_url_field :access_link %>
  </div>
  <div class="fr-col-6">
    <%= form.dsfr_email_field :support_email %>
  </div>
</div>
