<%= f.info_for(:operational_acceptance) %>

<fieldset class="fr-fieldset fr-mb-4w">
  <div class="fr-fieldset__element">
    <%= f.dsfr_check_box :operational_acceptance_done, required: true %>
  </div>
</fieldset>
