<li class="authorization_request_event">
  <%=
    content_tag(
      :span,
      '',
      class: [
        "fr-icon-#{t(".#{authorization_request_event.name}.icon", default: 'info-fill')}",
        "fr-text-#{t(".#{authorization_request_event.name}.color", default: 'info')}",
      ]
    )
  %>

  <%=
    t(
      ".#{authorization_request_event.name}.text",
      **{
        user_full_name: authorization_request_event.user_full_name,
        text: authorization_request_event.text,
      }.compact
    ).html_safe
  %>

  <%= time_tag authorization_request_event.created_at do %>
    <%= authorization_request_event.created_at.strftime("%d/%m/%Y") %>
  <% end %>
</li>
