<h3>
  <%= t('.title') %>
</h3>

<ul class="authorization-request-events">
  <% @events.each do |event| %>
    <%= render(Instruction::HistoricalEventsComponent.new(authorization_request_event: event)) %>
  <% end %>
</ul>
