<div class="fr-callout fr-icon-information-line fr-mb-6w">
  <h3 class="fr-callout__title">Mise à jour de l'habilitation</h3>
  <p class="fr-callout__text">
    <%= reopening_callout_text %>
  </p>
  <%= link_to authorization_link_text, authorization_path, class: "fr-btn" %>
</div>
