.cas-usage-section {
  padding: 3rem 0;
}

.cas-usage-section.even:nth-of-type(even) {
  background-color: var(--background-alt-grey);
}

.cas-usage-section.odd:nth-of-type(odd) {
  background-color: var(--background-alt-grey);
}

.cas-usage-section:first-of-type {
  padding: 0 0 3rem 0;
}

.viewer-of-content {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
}

.title-with-modify-button {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: right;
}

.title-with-modify-button .title {
  flex-grow: 1;
}