.search-box .search-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-box .search-inputs > .input.main-input {
  flex-grow: 1;
}

.search-box .search-inputs > .input.type_habilitation {
  max-width: 300px;
}

.search-box .actions {
  text-align: right;
}
