<div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
  <%= render 'stats/shared/duration_stat_card',
    controller_name: controller_name,
    title: 'Remplissage d\'une nouvelle demande',
    percentile_50_target: 'percentile50TimeToSubmit',
    percentile_90_target: 'percentile90TimeToSubmit' %>

  <%= render 'stats/shared/duration_stat_card',
    controller_name: controller_name,
    title: 'Première instruction d\'une demande',
    percentile_50_target: 'percentile50TimeToFirstInstruction',
    percentile_90_target: 'percentile90TimeToFirstInstruction' %>

  <%= render 'stats/shared/duration_stat_card',
    controller_name: controller_name,
    title: "Instruction finale d'une demande",
    percentile_50_target: 'percentile50TimeToFinalInstruction',
    percentile_90_target: 'percentile90TimeToFinalInstruction' %>
</div>
