<div data-<%= stimulus_controller %>-target="migrationWarning" class="fr-mb-4w fr-hidden">
  <%= dsfr_alert(type: :warning, title: t('stats.migration_warning.title')) do %>
    <p><%= t('stats.migration_warning.description') %></p>
  <% end %>
</div>
