<div data-<%= stimulus_controller %>-target="migrationWarning" style="display: none;" class="fr-mb-4w">
  <div class="fr-alert fr-alert--warning">
    <p class="fr-alert__title">Données antérieures à 2025</p>
    <p>Vous consultez des données antérieures à 2025. Une partie de ces données a été migrée depuis une ancienne version de l’application et peut présenter des anomalies, notamment sur les durées calculées.</p>
  </div>
</div>
