<h2 class="fr-h2 fr-mb-4w">Volumes sur la période</h2>
<div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
  <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: #e3e3fd; text-align: center;">
      <p class="fr-text--md fr-mb-2v" style="color: #161616; font-weight: bold;">Nouvelles demandes</p>
      <p class="fr-display--xs fr-mb-0" style="color: #000091;"><strong data-<%= controller_name %>-target="newRequestsCount">-</strong></p>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: #fef7da; text-align: center;">
      <p class="fr-text--md fr-mb-2v" style="color: #161616; font-weight: bold;">Réouvertures</p>
      <p class="fr-display--xs fr-mb-0" style="color: #fc5d00;"><strong data-<%= controller_name %>-target="reopeningsCount">-</strong></p>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: #b8fec9; text-align: center;">
      <p class="fr-text--md fr-mb-2v" style="color: #161616; font-weight: bold;">Validations</p>
      <p class="fr-display--xs fr-mb-0" style="color: #18753c;"><strong data-<%= controller_name %>-target="validationsCount">-</strong></p>
    </div>
  </div>
  <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="fr-card fr-card--no-border fr-p-4w" style="background-color: #ffe9e6; text-align: center;">
      <p class="fr-text--md fr-mb-2v" style="color: #161616; font-weight: bold;">Refus</p>
      <p class="fr-display--xs fr-mb-0" style="color: #ce0500;"><strong data-<%= controller_name %>-target="refusalsCount">-</strong></p>
    </div>
  </div>
</div>
