<div class="fr-grid-row fr-mb-6w">
  <div class="fr-col-12">
    <div class="fr-card fr-p-4w">
      <canvas data-<%= stimulus_controller %>-target="timeSeriesChart"></canvas>
    </div>
  </div>
</div>
