<div class="<%= alert_classes %>">
  <h3 class="fr-alert__title"><%= title %></h3>

  <% if description.present? %>
    <p><%= description %></p>
  <% end %>

  <% if messages.any? %>
    <ul>
      <% messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <% if close_button? %>
    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
      Masquer le message
    </button>
  <% end %>
</div>
