<div class="authorization-header fr-background-action-high--blue-france">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <h1 class="fr-h3 fr-mt-15v fr-mb-1-5v fr-text-inverted--blue-france">
          <span class="fr-icon-award-fill" aria-hidden="true"></span>
          Habilitation à <%= authorization.definition.name %>
        </h1>
        <p class="fr-text-inverted--blue-france">
          <%= authorization.name %>
        </p>
        <div class="fr-mb-15v fr-badges-group">
          <div class="fr-badge fr-badge--sm fr-badge--blue-ecume">
            Habilitation n°<%= authorization.id %>
          </div>
          <div class="fr-badge fr-badge--sm fr-badge--success">
            <%= authorization.state %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
