<div class="<%= alert_classes %>">
  <p><%= message %></p>

  <% if dismissible? %>
    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
      Masquer le message
    </button>
  <% end %>
</div>
