<% type ||= :applicant %>
<% klass ||= "" %>

<div class="fr-callout fr-icon-information-line fr-mb-6w <%=klass%>">
  <h3 class="fr-callout__title">Mise à jour de l'habilitation</h3>
  <p class="fr-callout__text">
    <%= t(".text.#{type}") %>
  </p>
  <%= link_to t('.link.text', authorization_id: @authorization_request.id), latest_authorization_path(@authorization_request), class:"fr-btn" %>
</div>
