<% type ||= :applicant %>
<% klass ||= "" %>

<div class="fr-callout fr-icon-information-line fr-mb-6w <%=klass%>">
  <h3 class="fr-callout__title">Mise à jour de l'habilitation</h3>
  <p class="fr-callout__text">
    <% if type == :instructor %>
      Une habilitation validée existe déjà, cette demande concerne une mise à jour des informations existantes. 
    <% else %>
      Il s'agit d'une mise à jour d'une habilitation validée. Si celle-ci est rejetée, votre habilitation initiale sera toujours valide et les informations restaurées à la version initiale.
      
      Vous pouvez consulter à tout moment l'habilitation validée :
    <% end %>
  </p>
  <%= link_to "Consulter l'habilitation validée n°#{@authorization_request.latest_authorization.id}", @authorization_request.latest_authorization, class:"fr-btn" %>
</div>