<span class="authorization-request-form-header__service-provider-name">
  | <%= t(".through_#{@authorization_request.form.service_provider.type}", service_provider_name: @authorization_request.form.service_provider.name) %>
</span>
