<h2 class="authorization-request-form-header__kind">
  <%= subtitle %>

  <% if @authorization_request.form.service_provider.present? %>
    <%= render partial: "authorization_requests/shared/service_provider",
      locals: { name: @authorization_request.form.service_provider.name } %>
  <% end %>
</h2>
