<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-auto fr-grid-row fr-grid-row--middle">
    <span class="authorization-definition-card-count fr-mr-1w"><%= validated_count %></span>
    <span class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon"><%= t('authorization_request.status.validated') %></span>
  </div>
  <div class="fr-col-auto fr-grid-row fr-grid-row--middle">
    <span class="authorization-definition-card-count fr-mr-1w"><%= submitted_count %></span>
    <span class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon"><%= t('authorization_request.status.submitted') %></span>
  </div>
</div>
