<div class="<%= classes.join(' ') %>">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title"><%= title %></span>
        <span class="fr-notice__desc"><%= description %></span>
      </p>
    </div>
  </div>
</div>
