<div class="fr-py-12w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 center">
      <%= image_tag pictogram_path, alt: pictogram_alt, class: pictogram_class %>

      <p class="fr-text--lg">
        <%= message %>
      </p>

      <%= action %>
    </div>
  </div>
</div>
