<div class="fr-py-12w">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 center">
      <%= image_tag pictogram_path, alt: '', class: 'fr-responsive-img fr-artwork--large' %>

      <p class="fr-text--lg">
        <%= message %>
      </p>

      <%= button_to reset_button_text, reset_path, method: :get, class: 'fr-btn fr-btn--secondary' %>
    </div>
  </div>
</div>