<div>
  <span class="fr-mr-1w"><%= habilitations_count %></span>
  <span class="fr-badge fr-badge--success fr-badge--no-icon fr-badge--sm">
    <%= t('authorization_request.status.validated') %>
  </span>
</div>
<div>
  <span class="fr-mr-1w"><%= demandes_count %></span>
  <span class="fr-badge fr-badge--info fr-badge--no-icon fr-badge--sm">
    <%= t('authorization_request.status.submitted') %>
  </span>
</div>
