<div class="title-with-modify-button">

  <div class="button">
    <button class="fr-btn fr-btn--secondary fr-btn--sm" title="Fonctionnalité encore non disponible, contactez-nous." disabled>
      Modifier
    </button>
  </div>

  <div class="title">
    <%= yield %>
  </div>
</div>