<div class="fr-card fr-enlarge-link">
  <div class="fr-card__body">
    <div class="fr-card__content fr-pb-2w">
      <div class="fr-grid-row fr-grid-row--gutters">
        <% if provider.logo&.attached? %>
          <div class="data-provider-card-img">
            <%= image_tag provider.logo, alt: '', class: 'fr-mr-1w' %>
          </div>
        <% end %>
        <div class="fr-col">
          <h2 class="fr-card__title">
            <%= link_to name_with_stage, instruction_authorization_definition_path(authorization_definition.id) %>
          </h2>
          <p class="fr-card__desc"><%= provider.name %></p>
        </div>
      </div>
    </div>
    <div class="fr-card__footer">
      <%= render 'instruction/authorization_definitions/counts', validated_count:, submitted_count: %>
    </div>
  </div>
</div>
