<div class="fr-grid-row fr-grid-row--gutters">
  <p class="fr-h2 fr-mt-5w"><%= t('.title') %></p>

  <turbo-frame id="tabs">
    <%= render 'shared/dashboard_tabs', facade: @facade %>
  </turbo-frame>
</div>
