<div class="fr-container-fluid">
  <div class="fr-grid-row fr-grid-row--gutters">
    <% @authorization_request.contact_types.each do |contact_type| %>
      <%= render partial: 'authorization_request_forms/shared/contact', locals: { contact_type:, f: } %>
    <% end %>
  </div>
</div>
