<section class="fr-accordion fr-mb-3w">
  <% id = Base64.urlsafe_encode64(group_name) %>
  <h3 class="fr-accordion__title fr-accordion__personnalization">
    <button type="button" class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-<%= id %>">Documentation
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-<%= id %>">
    <span><%= f.wording_for(:scopes)[:groups][group_name.to_sym].html_safe %></span>
  </div>
</section>
