<%= f.info_for(:legal_api_le_taxi) %>

<fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
  <div class="fr-fieldset__element">
    <%= f.dsfr_text_area :cadre_juridique_nature, value: t('authorization_request_forms.api_le_taxi.legal_api_le_taxi.cadre_juridique_nature'), required: true, rows: 2 %>

  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_file_field :cadre_juridique_document %>
  </div>

  <h2>OU</h2>

  <div class="fr-fieldset__element">
    <%= f.dsfr_url_field :cadre_juridique_url, value: t('authorization_request_forms.api_le_taxi.legal_api_le_taxi.cadre_juridique_url'), required: true %>
  </div>
</fieldset>
