<fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
  <div class="fr-fieldset__element">
    <%= f.dsfr_text_field :destinataire_donnees_caractere_personnel %>
  </div>

  <div class="fr-fieldset__element">
    <%= f.dsfr_number_field :duree_conservation_donnees_caractere_personnel %>
  </div>
</fieldset>

