<div class="fr-notice fr-notice--info fr-my-3w fr-p-0">
  <div class="fr-container fr-p-0">
    <div class="fr-notice__body fr-p-3w fr-mr-15w">
      <div class="fr-notice__icon fr-mr-5w">
        <%= image_tag "authorization_requests/survey.svg", alt: "Prefilled document logo" %>
      </div>
      <p>
        <span class="fr-notice__title_custom">Nous avons pré-rempli des informations pour vous aider</span>
        <span class="fr-notice__desc">Vous avez choisi le cas d'usage "Marchés publics", nous avons pré-rempli les
          informations correspondantes, elles ne peuvent donc pas être modifiées.</span>
      </p>
    </div>
  </div>
</div>
