<%= f.info_for(:scopes) %>

<% @authorization_request.available_scopes.group_by(&:group).each do |group_name, scopes| %>
  <div class="fr-form-group scopes-group">
    <p class="scopes-group__title fr-text--lg">
      <%= group_name %>
    </p>

    <div class="scopes-group__grid">
      <% scopes.each do |scope| %>
        <%= f.dsfr_scope scope %>
      <% end %>
    </div>
  </div>
<% end %>

<%= f.hidden_field :scopes, value: '', name: "#{@authorization_request.model_name.param_key}[scopes][]" %>
