<div class="fr-form-group fr-my-5w">
  <h3 class="fr-mt-0 fr-mb-1w">
    <%= t('authorization_request_forms.default.scopes.specific_requirements.title') %>
  </h3>
  <p>
    <%#= t('authorization_request_forms.default.scopes.specific_requirements.content') %>
    <!--  </p>-->
    Les partenaires ayant convenu avec la DGFiP un périmètre de données particulier peuvent
    rattacher leur expression de besoin listant l'ensemble des données strictement nécessaires à leur cas d'usage. Si
    vous n'avez pas encore contacté la DGFiP, vous pouvez les joindre à l'adresse
    <a href="mailto:dtnum.donnees.demande-acces@dgfip.finances.gouv.fr">dtnum.donnees.demande-acces@dgfip.finances.gouv.fr</a>
  </p>

  <%= f.dsfr_check_box :specific_requirements %>
</div>

<div class="scopes-group">
  <fieldset class="fr-fieldset fr-mt-3w" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
    <% if @authorization_request.respond_to?(:specific_requirements_document) %>
      <div class="fr-fieldset__element">
        <%= f.dsfr_file_field :specific_requirements_document %>
      </div>
    <% end %>
  </fieldset>
</div>
