<div class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--icon-left fr-btns-group--right">
  <%= f.submit t('authorization_request_forms.form.save'), name: :save, id: :save_authorization_request, class: %w(fr-btn fr-btn--sm fr-btn--secondary fr-icon-save-line fr-btn--icon-left) %>

  <% if @authorization_request.persisted? %>
    <%= f.submit t('authorization_request_forms.form.submit'), name: :submit, id: :submit_authorization_request, class: %w(fr-btn fr-btn--sm fr-icon-checkbox-line fr-btn--icon-left) %>
  <% end %>
</div>

