<%= render partial: 'mailer/shared/applicant/header', locals: { entity_name: @authorization_request.applicant.full_name } %>
<br/>
Votre habilitation à l’espace agent de l’annuaire des entreprises a été validée.
<br/>
Vous bénéficiez de vos nouveaux droits et désormais, sur votre compte agent, vous avez :
<br/>
<ul>
<li>la possibilité d’ajouter des collaborateurs et de leur partager vos droits <a href="https://annuaire-entreprises.data.gouv.fr/api/auth/agent-connect/login?pathFrom=%2Fcompte%2Fmes-groupes">sur la page “Mes groupes”</a></li>
<li>un récapitulatif de vos droits <a href="https://annuaire-entreprises.data.gouv.fr/api/auth/agent-connect/login?pathFrom=%2Fcompte%2Faccueil">sur la page “Mon espace”</a></li>
</ul>
</br>
<%= render partial: 'mailer/shared/applicant/footer', locals: { authorization_definition_name: @authorization_request.definition.name } %>
