<% if @authorization_request.only_in_contacts?(current_user) %>
  <div class="fr-alert fr-alert--info">
    <%= t('.text', contact_types: @authorization_request.humanized_contact_types_for(current_user).to_sentence) %>
  </div>
<% end %>
