<%= authorization_request_form(@authorization_request) do |f| %>
  <div class="fr-mt-2w">
    <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
      <div class="fr-fieldset__element">
        <%= f.dsfr_text_field :intitule, required: true %>
      </div>
    </fieldset>
  </div>

  <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
<% end %>
