<%= authorization_request_form(@authorization_request) do |f| %>
  <div class="fr-container-fluid">
    <div class="fr-grid-row">
      <% %i[responsable_traitement delegue_protection_donnees contact_metier contact_technique].each do |contact_type| %>
        <%= render partial: 'authorization_request_forms/shared/contact', locals: { contact_type:, f: } %>
      <% end %>
    </div>
  </div>

  <% content_for :sticky_bar do %>
    <%= render partial: 'authorization_request_forms/shared/submit_buttons', locals: { f: f } %>
  <% end %>
<% end %>
