<div>
  <% if initiate_request_path %>
    <div class="fr-mb-1w">
      <%= link_to t('instruction.authorization_definitions.show.initiate_request'),
            initiate_request_path,
            class: 'fr-btn fr-btn--icon-left fr-icon-draft-line authorization-definition-action-btn' %>
    </div>
  <% end %>
  <%= render Atoms::CopyButtonComponent.new(
        text_to_copy: copy_request_url,
        label: t('instruction.authorization_definitions.show.copy_request_link'),
        extra_classes: 'authorization-definition-action-btn') %>
</div>
