<%= authorization_request_form(@authorization_request, url: authorization_request_block_path([@authorization_request, block_id])) do |f| %>
  <%= render partial: "authorization_request_forms/shared/#{block_id}", locals: { f: } %>

  <% content_for :outside_container do %>
    <div class="fr-mb-5w fr-py-2w sticky-bar" data-controller="sticky-bar">
      <div class="fr-container fr-grid-row fr-grid-row--right">
        <%= f.button t('authorization_request_forms.form.save'), type: :submit, name: :save, id: :save_authorization_request, class: %w(fr-btn fr-btn--primary fr-icon-save-line fr-btn--icon-left) %>
      </div>
    </div>
  <% end %>
<% end %>
