<fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
  <h3>
    <%= t('authorization_request_forms.api_infinoe_production.recette_fonctionnelle.title') %>
  </h3>

  <%= f.info_for(:recette_fonctionnelle) %>

  <div class="fr-fieldset__element">
    <%= f.dsfr_check_box :recette_fonctionnelle %>
  </div>
</fieldset>
