<div class="fr-my-3w">
  <hr/>
  <div class="fr-h6">
    <%= t('pages.home.api_gouv_title') %>
  </div>
  <div class="fr-mb-2w">
    <div class="fr-btn fr-btn--secondary fr-m-auto">
      <a href="https://www.data.gouv.fr/fr/dataservices/" target="_blank" rel="noopener" title="les apis sur data.gouv.fr - Nouvelle fenêtre">
        <%= t('pages.home.api_gouv') %>
      </a>
    </div>
  </div>
</div>
