<div class="fr-my-3w">
  <hr/>
  <div class="fr-h6">
    <%= t("pages.home.api_gouv_title") %>
  </div>
  <div class="fr-mb-2w">
    <div class="fr-btn fr-btn--sm fr-btn--secondary fr-m-auto">
      <a
        href="https://api.gouv.fr/"
        target="_blank"
        rel="noopener"
        title="api.gouv.fr - Nouvelle fenêtre"
      >
        <%= t("pages.home.api_gouv") %>
      </a>
    </div>
  </div>
</div>
