<% accounts = if Rails.env.staging?
    [{ label: 'user@yopmail.com', email: 'user@yopmail.com' }]
else
    [
      { label: 'Demandeur', email: 'user@yopmail.com' },
      { label: 'Admin', email: 'datapass@yopmail.com' },
      { label: 'Instructeur DINUM', email: 'api-entreprise@yopmail.com' }
    ]
end %>

<div class="fr-alert fr-alert--info fr-mt-3w">
  <h3 class="fr-alert__title">Connexion rapide</h3>
  <p>Environnement de test : connectez-vous sans passer par ProConnect via l’un des comptes prédéfinis ci-dessous :</p>
  <div class="fr-btns-group fr-btns-group--sm fr-btns-group--inline fr-mb-0 fr-mt-4v">
    <% accounts.each do |account| %>
      <%= link_to account[:label], "/local-sign-in?email=#{account[:email]}",
        class: 'fr-btn fr-btn--secondary',
        data: { turbo_prefetch: false } %>
    <% end %>
  </div>
</div>
