<div class="fr-col-sm-12 fr-col-md-4">
  <div class="eligibility-illustration-container" role="img" aria-label="Illustration d'un document">
    <div class="eligibility-illustration-trame" aria-hidden="true">
      <%= image_tag "eligibility/trame.svg", alt: "", class: "eligibility-illustration-layer fr-responsive-img" %>
    </div>
    <div class="eligibility-illustration-blob" aria-hidden="true">
      <%= image_tag "eligibility/blob.svg", alt: "", class: "eligibility-illustration-layer fr-responsive-img" %>
    </div>
    <div class="eligibility-illustration-forme" aria-hidden="true">
      <%= image_tag "eligibility/forme.svg", alt: "", class: "eligibility-illustration-layer fr-responsive-img" %>
    </div>
    <div class="eligibility-illustration-document">
      <%= image_tag "artwork/pictograms/document/presse-card.svg", alt: "Illustration d'un document", class: "eligibility-illustration-layer fr-responsive-img" %>
    </div>
  </div>
</div>
