<div class="fr-col-sm-12 fr-col-md-5">
  <div style="position: relative; width: 282px; height: 319px; margin: 0 auto;">
    <div style="position: absolute; bottom: 0; left: 12.06%; right: 0.35%; top: 0;">
      <%= image_tag "eligibility/trame.svg", alt: "", style: "width: 100%; height: 100%; display: block;" %>
    </div>
    <div style="position: absolute; bottom: 17.24%; left: 0; right: 0; top: 16.3%;">
      <%= image_tag "eligibility/blob.svg", alt: "", style: "width: 100%; height: 100%; display: block;" %>
    </div>
    <div style="position: absolute; top: 16.46%; bottom: 19.28%; left: 0.18%; right: 0.18%;">
      <%= image_tag "eligibility/forme.svg", alt: "", style: "width: 100%; height: 100%; display: block;" %>
    </div>
    <div style="position: absolute; top: 27.12%; bottom: 28.37%; left: 24.82%; right: 24.82%;">
      <%= image_tag "artwork/pictograms/document/presse-card.svg", alt: "", style: "width: 100%; height: 100%; display: block;" %>
    </div>
  </div>
</div>
