<div class="fr-header__menu fr-modal" id="modal-header-menu" aria-labelledby="fr-btn-menu-mobile-1">
  <div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-header-menu" aria-label="Fermer le menu">
      Fermer
    </button>

    <div class="fr-header__menu-links"></div>
    <nav class="fr-nav" id="navigation-header-menu" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <% if namespace?(:instruction) %>
          <% if policy([:instruction, :instructor_draft_request]).enabled? %>
            <li class="fr-nav__item">
              <a class="fr-nav__link center" href="<%= instruction_demandes_path %>" target="_self">
                <%= t('.instruction.authorizations_and_requests') %>
              </a>
            </li>

            <li class="fr-nav__item">
              <a class="fr-nav__link center" href="<%= instruction_instructor_draft_requests_path %>" target="_self">
                <%= t('.instruction.instructor_authorization_requests') %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
