hubee-cert-dc:
  introduction: |
    La démarche CertDc permet au service État Civil de la mairie de votre commune de recevoir électroniquement les certificats de décès rédigés via l’application CertDc par les professionnels de santé.

    Depuis le 1er juin 2022, ces professionnels sont dans l’obligation d’utiliser cette application pour les décès survenus dans les établissements de santé et les établissements médico-sociaux.
    Pour toute question concernant le fonctionnement de ces démarches, vous pouvez contacter le support dédié à l’adresse e-mail suivante: dgs-certdc@sante.gouv.fr.
  authorization_request: "HubEECertDC"

hubee-dila:
  introduction: |
    En complétant ce formulaire, vous allez demander l'accès à une ou plusieurs des démarches suivantes de la Direction de l'information légale et administrative (DILA) : 

    ● AEC - Acte d’Etat Civil
    ● DDPACS - Démarche en ligne de préparation à la conclusion d’un Pacs
    ● RCO - Recensement Citoyen Obligatoire
    ● DHTOUR - Déclaration d’hébergement touristique
    ● JCC - Déclaration de Changement de Coordonnées
  authorization_request: "HubEEDila"
  scopes:
    - etat_civil
    - depot_dossier_pacs
    - recensement_citoyen
    - hebergement_tourisme
    - je_change_de_coordonnees

api-service-national-inscription-concours-examen:
  name: "Inscription à un concours ou un examen (hors permis de conduire)"
  authorization_request: "APIServiceNational"
  data:
    intitule: "Inscription à un concours ou un examen (hors permis de conduire)"
    description: "La candidature à un concours ou examens en France nécessite souvent l'inscription à un service national. Ce service permet au candidat d'être identifié et authentifié de manière sécurisée lors de son inscription."
    destinataire_donnees_caractere_personnel:
    duree_conservation_donnees_caractere_personnel: "12"
    cadre_juridique_nature: "Article L114-6 du code du service national"
    cadre_juridique_url: "https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000021960309/"

api-service-national-obligation-service-national:
  name: "Accès à un statut exigeant d’être en règle avec les obligations de service national"
  authorization_request: "APIServiceNational"
  data:
    intitule: "Accès à un statut exigeant d’être en règle avec les obligations de service national"
    description:
    destinataire_donnees_caractere_personnel:
    duree_conservation_donnees_caractere_personnel: "12"
    cadre_juridique_nature: "Article L111-3 du code du service national"
    cadre_juridique_url: "https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000024042593/"

api-service-national:
  name: "Demande libre"
  authorization_request: "APIServiceNational"
  steps:
    - name: "basic_infos"
    - name: "personal_data"
    - name: "legal"
    - name: "contacts"

api-captchetat:
  authorization_request: "APICaptchEtat"
  steps:
    - name: "basic_infos"
    - name: "legal"
    - name: "contacts"
