.fr-h3.fr-text-mention-grey {
  color: #666666;
}

.fr-btn--secondary__custom {
  background-color: white;

  --hover: inherit;
  --active: inherit;
  color: var(--text-action-high-blue-france);
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
}

.authorization-header.fr-background-action-high--blue-france .fr-btn--reopen {
  border: 1px solid white;
}
