.scopes-group {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-default-grey);
  margin-bottom: 20px;
}

.scopes-group__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0;
  color: var(--text-action-high-blue-france);
  font-weight: bold;
}

.scopes-group__grid {
  font-size: 1em;
  padding: 1rem 0.5rem;
  display: grid;

  --column-gap: 9rem;
  --row-gap: 2rem;

  grid-template-columns: repeat(2, 1fr);

  grid-column-gap: var(--column-gap);
  -webkit-column-gap: var(--column-gap);
  column-gap: var(--column-gap);

  grid-row-gap: var(--row-gap);
  -webkit-row-gap: var(--row-gap);
  row-gap: var(--row-gap);
}

.scopes-group__grid label {
  display: inline-block!important;
}

.summary-block .scopes-group__grid label {
  color: var(--text-label-grey)!important;
}
