.authorization-request-form-header {
  padding: 60px 0 40px 0;
  background-color: var(--background-alt-blue-france);
}

.authorization-request-form-header__name {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
  color: var(--text-action-high-blue-france);
}

.authorization-request-form-header__kind {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.authorization-request-form-header__service-provider-name {
  font-size: 1rem;
  font-weight: 100;
}

.authorization-request-form-header__badges {
  margin-bottom: 0;
}

.authorization-request-form-header__actions {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.file-with-remove-button {
  display: inline-flex;
  align-items: center;
}
