:root {
  --authorization-request-event-padding: 20px;
}

ul.authorization-request-events li {
  padding-bottom: var(--authorization-request-event-padding);
  padding-top: var(--authorization-request-event-padding);
  border-top: 1px solid rgba(0,0,0,0.1);
}


ul.authorization-request-events li:last-of-type {
  padding-bottom: 0;
}