.authorization-request-card {
  position: relative;
  border: 1px solid var(--border-default-grey);
  display: block;
}

.authorization-request-card .card-wrapper {
  padding: 2.5rem;
}

.authorization-request-card .card-content-badge-wrapper {
  display: flex;
  justify-content: space-between;
}

.authorization-request-card .card-title {
  color: var(--text-active-blue-france);
}

.authorization-request-card .card-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.authorization-request-card .card-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.authorization-request-card .reopening-footer {
  background-color: var(--background-alt-grey);
  padding: 1.5rem;
}

.authorization-request-card .reopening-content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.authorization-request-card .reopening-footer .title {
  color: var(--text-action-high-blue-france);
  font-weight: 700;
  display: block;
}

.authorization-request-card .reopening-badge {
  align-content: center;
}

.authorization-request-card .unread-message-dot {
  position: absolute;
  top: -5px;
  right: -5px;
}
