/* Large  card */

.authorization-request-card {
  position: relative;
  border: 1px solid var(--border-default-grey);
}

.authorization-request-card .card__badge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.authorization-request-card .card__actions {
  align-items: flex-end;
  gap: 1rem;
}

.authorization-request-card .reopening__footer {
  border-bottom: 0.25rem solid var(--background-action-high-blue-france);
}

.authorization-request-card .reopening__badge {
  align-content: center;
}

.authorization-request-card .unread-message-dot {
  position: absolute;
  top: -5px;
  right: -5px;
}

/* SMALL CARD */

.authorization-request-card__small .card__badge {
  flex-direction: row;
}
