:root {
  --contact-card-grey-color: var(--text-mention-grey);
}

.contact-card__kind {
  font-size: 0.9rem;
  color: var(--contact-card-grey-color);
  padding-bottom: 10px;
}

.contact-card__full_name {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8rem;
}

.contact-card__attribute {
  margin-top: 5px;
}

.contact-card__attribute-label {
  font-size: 0.7rem;
  color: var(--contact-card-grey-color);
}

.contact-card__attribute-value {
  font-weight: 600;
}

.contact-form-card__title {
  color: var(--text-active-blue-france);
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: var(--title-spacing);
}

.contact-form-card__info {
  margin-top: 0px;
  font-size: 0.875rem;
  font-weight: 400;
}

.contact-form-card__fill-button {
  position: absolute;
  top: -4.25rem;
  right: 1.25rem;
  z-index: 10;
}
