/* DSFR Multi Select Component Styles */

.dsfrx-select > .fr-label {
  margin-bottom: 0.5rem;
}

.dsfrx-multiselect {
  display: block;
  position: relative;
  width: 300px;
}

/* Control Input (Combobox Trigger) */
.dsfrx-multiselect .fr-select {
  min-height: 2.5rem;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23161616' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center;
  background-size: 1rem 1rem;
}

.dsfrx-multiselect .fr-select:hover {
  background-color: var(--background-contrast-grey-hover);
}

.dsfrx-multiselect .fr-select[aria-expanded="true"] {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23161616' d='M12,10.9l5,4.9l1.4-1.4L12,8.1L5.6,14.5l1.4,1.4L12,10.9z'/></svg>");
}

.dsfrx-multiselect .fr-select--disabled {
  pointer-events: none;
  color: var(--text-disabled-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23929292' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
}

.dsfrx-multiselect__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.dsfrx-multiselect--placeholder {
  color: var(--text-default-grey);
}

/* Dropdown Container */
.dsfrx-dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--background-overlap-grey);
  border: 1px solid var(--border-default-grey);
  border-top: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Toolbar (Select All + Search) */
.dsfrx-multiselect__toolbar {
  display: block;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--background-contrast-grey);
}

.dsfrx-multiselect__toolbar input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.dsfrx-multiselect__toolbar .fr-input-wrap {
  flex-grow: 1;
}

.dsfrx-multiselect__toolbar .fr-btn--select-all {
  text-align: center;
  display: block;
  margin: 0;
  min-width: 100%;
}

@container (min-width: 500px) {
  .dsfrx-multiselect .dsfrx-multiselect__toolbar {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .dsfrx-multiselect__toolbar .fr-btn--select-all {
    margin: 0;
    min-width: 10rem;
    margin-bottom: 0;
  }
}

/* Options List */
.dsfrx-multiselect__list {
  overflow: auto;
  list-style: none;
  background-color: var(--background-overlap-grey);
  margin: 0;
  line-height: 1.5rem;
  color: var(--text-title-grey);
  text-align: left;
  padding: 0;
  max-height: 224px;
}

.dsfrx-multiselect__list--empty p {
  padding: 0.5rem 1rem 0rem 1rem;
  background-color: var(--background-default-grey);
  margin: 0;
}

/* Option Item */
.dsfrx-multiselect__item {
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  outline-offset: -2px;
  cursor: pointer;
}

.dsfrx-multiselect__item:hover {
  background: var(--background-alt-blue-france-hover);
}

.dsfrx-multiselect__item:focus {
  outline: 2px solid var(--outline-focus-blue-france);
  outline-offset: -2px;
}

.dsfrx-multiselect__item.selected {
  background: var(--background-alt-blue-france-active);
}

.dsfrx-multiselect__item[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Checkbox styling within options */
.dsfrx-multiselect__item .fr-checkbox-group {
  margin: 0;
}

.dsfrx-multiselect__item .fr-checkbox-group input[type="checkbox"] {
  pointer-events: none;
}

.dsfrx-multiselect__item .fr-checkbox-group .fr-label {
  cursor: pointer;
  padding-left: 1.5rem;
}

.dsfrx-multiselect__item .fr-checkbox-group .fr-label::before {
  left: 0;
}

.dsfrx-multiselect__item .fr-checkbox-group .fr-label::after {
  left: 0;
}

/* Hidden inputs container */
.dsfrx-multiselect__hidden-inputs {
  display: none;
}

/* Disabled select group */
.dsfrx-select.fr-select-group--disabled {
  cursor: not-allowed;
}

.dsfrx-select.fr-select-group--disabled .fr-label {
  color: var(--text-disabled-grey);
}

/* Dark theme support */
:root[data-fr-theme="dark"] .dsfrx-multiselect .fr-select {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
}

:root[data-fr-theme="dark"] .dsfrx-multiselect .fr-select[aria-expanded="true"] {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,10.9l5,4.9l1.4-1.4L12,8.1L5.6,14.5l1.4,1.4L12,10.9z'/></svg>");
}

