.message {
  position: relative;
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 10px;
}

.message__header {
  position: relative;
}

.message__header > .message__from {
  color: var(--text-action-high-blue-france);
  font-weight: bold;
}

.message__header > .message__date {
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--text-label-grey);
  font-style: italic;
}

.message__body {
  padding: 10px 0;
}

.message__body > p:last-child {
  margin-bottom: 0;
}
