.multi-select {
  position: relative;
  width: 300px;
  margin-top: 0.5rem;
}

.multi-select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-label-grey);
  background-color: var(--background-contrast-grey);
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  cursor: pointer;
  text-align: left;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23161616' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-size: 1rem 1rem;
  padding-right: 2.5rem;
  min-height: 2.5rem;
}

.multi-select__trigger:hover {
  background-color: var(--background-contrast-grey-hover);
}

.multi-select__trigger:focus {
  outline: 2px solid var(--outline-focus-blue-france);
  outline-offset: 2px;
}

.multi-select__trigger[aria-expanded="true"] {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23161616' d='M12,10.9l5,4.9l1.4-1.4L12,8.1L5.6,14.5l1.4,1.4L12,10.9z'/></svg>");
}

.multi-select__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-select__label.has-selection {
  font-weight: 500;
}

.multi-select__dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 20rem;
  overflow-y: auto;
  background-color: var(--background-default-grey);
  border: 1px solid var(--border-default-grey);
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.multi-select__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multi-select__option {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
  position: relative;
  padding-left: 2.5rem;
}

.multi-select__option::before {
  content: '';
  position: absolute;
  left: 0.75rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--border-action-high-grey);
  border-radius: 0.125rem;
  background-color: var(--background-default-grey);
}

.multi-select__option:hover {
  background-color: var(--background-contrast-grey-hover);
}

.multi-select__option.selected::before {
  background-color: var(--background-action-high-blue-france);
  border-color: var(--background-action-high-blue-france);
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='white' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/></svg>");
  background-size: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  background-position: center;
}

.multi-select__option.selected {
  background-color: var(--background-alt-blue-france);
}

.multi-select__option-text {
  flex: 1;
}

.multi-select__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-bottom: 1px solid var(--border-default-grey);
  background-color: var(--background-default-grey);
  color: var(--text-action-high-blue-france);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}

.multi-select__clear:hover {
  background-color: var(--background-contrast-grey-hover);
}

.multi-select__hidden-inputs {
  display: none;
}

:root[data-fr-theme="dark"] .multi-select__trigger {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
}

:root[data-fr-theme="dark"] .multi-select__trigger[aria-expanded="true"] {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,10.9l5,4.9l1.4-1.4L12,8.1L5.6,14.5l1.4,1.4L12,10.9z'/></svg>");
}

