.fr-notice--full-width {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.fr-notice--full-width .fr-notice__body::before {
  display: none;
}
