.prefilled-banner .fr-notice__body_align {
    display: flex;
    align-items: center;
}

.prefilled-banner .fr-notice__title {
    display: block;
    font-size: 1.375rem;
    line-height: 1.74rem;
}
