.search-results-container {
  position: relative;
  min-height: 300px;
}

.search-results-container > table thead{
  min-width: 100%;
}

.search-results-container .results-count {
  position: absolute;
  top: -3.5rem;
  left: 0;
  padding: 0.5rem 1rem;
}