:root {
  --summary-block--padding-y: 32px;
  --summary-block--padding-x: 32px;
}

.summary-block {
  position: relative;
  background-color: var(--background-default-grey);
  border: 1px solid var(--border-default-grey);
  padding: var(--summary-block--padding-y) var(--summary-block--padding-x);
}

.summary-block.summary-block--fixed {
  background-color: var(--background-default-grey-hover);
}

.summary-block.summary-block--warning {
  border-color: var(--border-plain-warning);
}

.summary-block__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.summary-block__icon {
  margin-right: 0.5rem;
  color: var(--text-action-high-blue-france);
}

.summary-block__ctas {
  position: absolute;
  top: var(--summary-block--padding-y);
  right: var(--summary-block--padding-x);
}

.summary-block__title {
  display: inline-block;
  border-bottom: 4px solid var(--border-active-blue-france);
}
