:root {
  --summary-block--padding-y: 20px;
  --summary-block--padding-x: 30px;
}

.summary-block {
  position: relative;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid var(--border-default-grey);
  padding: var(--summary-block--padding-y) var(--summary-block--padding-x);

  margin-bottom: 50px;
}

.summary-block.summary-block--fixed {
  background-color: rgba(0, 0, 0, 0.03);
}

.summary-block__ctas {
  position: absolute;
  top: var(--summary-block--padding-y);
  right: var(--summary-block--padding-x);
}

.summary-block__title {
  display: inline-block;
  border-bottom: 5px solid var(--border-active-blue-france);
  padding-bottom: 5px;
}
