turbo-frame {
  display: block;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.dashboard-sub-header {
  padding-left: 0.75rem;
}

.dashboard-title__panel:first-child {
  margin-top: 1rem!important;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem 0;
}

h3.with-icon img {
  vertical-align: -10%;
}

.inline {
  display: inline!important;
}

.flex {
  display: flex!important;
}

.flex-end__content {
  display: flex;
  justify-content: flex-end;
}

.border-frame-text {
  border: 1px solid var(--border-default-grey);
  padding: 1rem;
  margin
}

.header__logo {
  max-width: 7rem;
  padding: 1rem;
}
