turbo-frame {
  display: block;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3.with-icon img {
  vertical-align: -10%;
}

.inline {
  display: inline!important;
}

.header__logo {
  max-width: 7rem;
  padding: 1rem;
}
