/* makes the footer stick to the bottom of the page */
html, body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* ------------------------------------------------ */

turbo-frame {
  display: block;
}

.center {
  text-align: center;
}

.dashboard-sub-header {
  padding-left: 0.75rem;
}

.dashboard-title__panel:first-child {
  margin-top: 1rem!important;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem 0;
}

h3.with-icon img {
  vertical-align: -10%;
}

.inline {
  display: inline!important;
}

.flex {
  display: flex!important;
}

.flex-end__content {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between__content {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.border-frame-text {
  border: 1px solid var(--border-default-grey);
  padding: 1rem;
}

.header__logo {
  max-width: 7rem;
  padding: 1rem;
}

.bg-white {
  background-color: var(--background-default-grey);
}

.bg-blue {
  background-color: var(--light-decisions-background-background-alt-blue-france, #F5F5FE);
}

.height-100 {
  height: 100%
}

.font-weight-700 {
  font-weight: 700;
}

.height-auto.height-auto {
  height: auto;
}

.paired-cards .authorization-request-card:first-child {
  border-bottom: 0;
}
.paired-cards .authorization-request-card:last-child {
  border-top: 0;
}

.main-container-full-width-offset-footer {
  margin-bottom: -4rem;
}

.eligibility-illustration-container {
  position: relative;
  width: 282px;
  height: 319px;
  margin: 0 auto;
}

.eligibility-illustration-layer {
  width: 100%;
  height: 100%;
  display: block;
}

.eligibility-illustration-trame {
  position: absolute;
  bottom: 0;
  left: 12.06%;
  right: 0.35%;
  top: 0;
}

.eligibility-illustration-blob {
  position: absolute;
  bottom: 17.24%;
  left: 0;
  right: 0;
  top: 16.3%;
}

.eligibility-illustration-forme {
  position: absolute;
  top: 16.46%;
  bottom: 19.28%;
  left: 0.18%;
  right: 0.18%;
}

.eligibility-illustration-document {
  position: absolute;
  top: 27.12%;
  bottom: 28.37%;
  left: 24.82%;
  right: 24.82%;
}
