.fr-flex-wrap {
  flex-wrap: wrap;
}

.fr-flex-grow {
  flex-grow: 1;
}

/* form inputs readonly */
.fr-input[readonly] {
  background-color: rgb(0, 0, 0, 0.02);
  cursor: default;
  box-shadow: inset 0 -2px 0 0 rgb(0, 0, 0, 0.05);
}

/* Date input : date selector was too far left on large inputs */
.fr-input[type="date"] {
  width: fit-content;
}

/* File input : clickable area was too large */
.fr-upload-group {
  width: fit-content;
}

/* Accordion */
.fr-accordion .fr-collapse p:last-child {
  margin-bottom: 0;
}

.fr-accordion--info {
  color: var(--text-default-info);
  background-color: var(--background-contrast-info);
}

/* Tabs container width */
.fr-tabs > .fr-container {
  margin-left: auto;
  margin-right: auto;
}

.fr-tabs__panel.fr-tabs__panel--no-transform {
  transition-duration: 0.3s, 0s;
}

/* Dropdown based on fr-translate component */

.fr-dropdown.fr-translate .fr-translate__btn::before {
  width: 0px;
  mask-size: 0;
}

/* Text color */
.fr-text-info {
  color: var(--text-default-info);
}

.fr-text-error {
  color: var(--text-default-error);
}

.fr-text-success {
  color: var(--text-default-success);
}

.fr-text-warning {
  color: var(--text-default-warning);
}

.fr-text-grey {
  color: var(--grey-625-425);
}

.fr-bg-white {
  background-color: white;
}

.fr-bg-grey {
  background-color: #f5f5f5;
}

.fr-text-blue-france {
  color: var(--text-active-blue-france);
}

/* Badge Icon */

.fr-badge--purple-glycine::before,
.fr-badge--secondary::before {
  content: "";
}

.fr-badge.fr-badge--info::before,
.fr-badge--sm.fr-badge--info::before {
  -webkit-mask-image: url("icons/system/time-fill.svg");
  mask-image: url("icons/system/time-fill.svg");
}

.fr-badge.fr-badge--success::before,
.fr-badge--sm.fr-badge--success::before {
  -webkit-mask-image: url("icons/system/check-line.svg");
  mask-image: url("icons/system/check-line.svg");
}

.fr-badge.fr-badge--error::before,
.fr-badge--sm.fr-badge--error::before {
  -webkit-mask-image: url("icons/system/fr--error-fill.svg");
  mask-image: url("icons/system/fr--error-fill.svg");
}

.fr-badge.fr-badge--warning::before,
.fr-badge--sm.fr-badge--warning::before {
  -webkit-mask-image: url("icons/system/fr--warning-fill.svg");
  mask-image: url("icons/system/fr--warning-fill.svg");
}

.fr-badge.fr-badge--new::before,
.fr-badge--sm.fr-badge--new::before {
  -webkit-mask-image: url("icons/weather/flashlight-fill.svg");
  mask-image: url("icons/weather/flashlight-fill.svg");
}

.fr-badge.fr-badge--purple-glycine::before,
.fr-badge--sm.fr-badge--purple-glycine::before {
  -webkit-mask-image: url("icons/others/recycle-fill.svg");
  mask-image: url("icons/others/recycle-fill.svg");
}

.fr-badge.fr-badge--secondary::before,
.fr-badge--sm.fr-badge--secondary::before {
  -webkit-mask-image: url("icons/business/archive-fill.svg");
  mask-image: url("icons/business/archive-fill.svg");
}
.malware-badge.fr-badge--success::before,
.malware-badge--sm.fr-badge--success::before {
  -webkit-mask-image: url("icons/system/shield-fill.svg");
  mask-image: url("icons/system/shield-fill.svg");
}

.malware-badge.fr-badge--info::before,
.malware-badge--sm.fr-badge--info::before {
  -webkit-mask-image: url("icons/system/search-fill.svg");
  mask-image: url("icons/system/search-fill.svg");
}

/* Badge color */

fr-badge--grey {
  background-color: var(--grey-975-75-hover);
  color: var(--grey-50-1000);
}

.fr-badge.fr-badge--secondary {
  background-color: var(--grey-50-1000);
  color: var(--grey-1000-50);
}

/* No line return in badges */

.fr-badge {
  white-space: nowrap;
}

/* ¯¯¯¯¯¯¯¯¯ *\
  BANDEAU NOTICE WARNING
\* ˍˍˍˍˍˍˍˍˍ */

.fr-notice__title {
  line-height: 2rem;
}

.fr-notice--warning .fr-notice__body::before {
  -webkit-mask-image: url("icons/system/alarm-warning-fill.svg") !important;
  mask-image: url("icons/system/alarm-warning-fill.svg") !important;
  content: "";
}

.fr-notice--warning {
  background-color: var(--background-contrast-warning);

  --idle: transparent;
  --hover: var(--background-contrast-warning-hover);
  --active: var(--background-contrast-warning-active);
  color: var(--text-default-warning);
}
