<div class="container">
  <h1>Revendiquer cette demande d'habilitation</h1>
  
  <p>Cette fonctionnalité sera bientôt disponible.</p>
  
  <p>Projet: <%= @authorization_request_instructor_draft.project_name %></p>
</div>