<h3><%= t('.title') %></h3>

<ul class="fr-mt-2w fr-p-0">
  <% authorizations.each do |authorization| %>
    <li class="authorization-row fr-mb-4w fr-pb-2w">
      <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col">
          <%= render 'authorizations/authorization_badges', authorization: authorization %>

          <% if authorization.approving_instructor.present? %>
            <div>
              <%= t('.validated_by', email: authorization.approving_instructor.email).html_safe %>
            </div>
          <% end %>
        </div>

        <div>
          <%= link_to t('.show_cta'), authorization_path(authorization), class: 'fr-btn' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
