<div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
  <%= render Molecules::StatCardComponent.new(
    stimulus_controller: stimulus_controller,
    title: t('stats.summary.submitted'),
    target: 'totalRequestsCount',
    subtitle_target: 'reopeningsCount',
    style: {
      card_classes: 'fr-background-contrast--blue-france',
      value_classes: 'fr-text-action-high--blue-france',
      col_classes: 'fr-col-12 fr-col-md-6 fr-col-lg-4'
    }
  ) %>
  <%= render Molecules::StatCardComponent.new(
    stimulus_controller: stimulus_controller,
    title: t('stats.summary.validated'),
    target: 'validationsCount',
    style: {
      card_classes: 'fr-background-contrast--green-emeraude',
      value_classes: 'fr-text-default--success',
      col_classes: 'fr-col-12 fr-col-md-6 fr-col-lg-4'
    }
  ) %>
  <%= render Molecules::StatCardComponent.new(
    stimulus_controller: stimulus_controller,
    title: t('stats.summary.refused'),
    target: 'refusalsCount',
    style: {
      card_classes: 'fr-background-alt--red-marianne',
      value_classes: 'fr-text-default--error',
      col_classes: 'fr-col-12 fr-col-md-6 fr-col-lg-4'
    }
  ) %>
</div>
