<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: t('authorization_request_forms.default.steps.contacts'), f:, editable: } do %>
  <% @authorization_request.contact_types.each do |contact_type| %>
    <div id="<%= dom_id(@authorization_request, contact_type) %>" class="fr-basic-card">
      <h3>
        <%= t("authorization_request_forms.default.#{contact_type}.title") %>
      </h3>

      <fieldset class="fr-fieldset" aria-label="feedme" aria-describedby="name-1-fieldset-messages">
        <% @authorization_request.class.contact_attributes.each do |contact_attribute| %>
          <div class="fr-fieldset__element">
            <%= @authorization_request.public_send("#{contact_type}_#{contact_attribute}") %>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>
<% end %>
