<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: f.wording_for('steps.modalities'), block_id: :modalities, f:, editable: } do %>
  <% if f.wording_for('modalities.intro') %>
    <%= f.wording_for('modalities.intro').html_safe %>
  <% end %>
  
  <% modalities = @authorization_request.modalities.is_a?(Array) ? @authorization_request.modalities : [@authorization_request.modalities] %>
  <ul>
    <% modalities.each do |modality| %>
      <li>
        <%= f.label_value("modalities.values.#{modality}").html_safe %>
      </li>
    <% end %>
  </ul>

  <% if @authorization_request.france_connect_authorization_id.present? && @authorization_request.modalities == 'with_france_connect' %>
    <p class="fr-pl-2w">
      <%= @authorization_request.associated_france_connect_authorization.full_name %>
    </p>
  <% end %>
<% end %>
