<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: f.wording_for('steps.modalities'), block_id: :basic_infos, f:, editable: } do %>
  <% if f.wording_for('modalities.intro') %>
    <%= f.wording_for('modalities.intro').html_safe %>
  <% end %>

  <ul>
    <% @authorization_request.modalities.each do |modality| %>
      <li>
        <%= f.label_value("modalities.values.#{modality}").html_safe %>
      </li>
    <% end %>
  </ul>
<% end %>
