<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: t('authorization_request_forms.default.steps.modalities'), block_id: :basic_infos, f:, editable: } do %>
  <% if f.wording_for('intro', 'modalities') %>
    <%= f.wording_for('intro', 'modalities').html_safe %>
  <% end %>

  <ul>
    <% @authorization_request.modalities.each do |modality| %>
      <li>
        <%= f.label_value("modalities.values.#{modality}").html_safe %>
      </li>
    <% end %>
  </ul>
<% end %>
