<%= render layout: 'authorization_requests/shared/blocks/summary_block', locals: { title: t('authorization_request_forms.default.steps.scopes'), f:, editable: } do %>
  <% @authorization_request.available_scopes.group_by(&:group).each do |group_name, scopes| %>
    <div class="fr-form-group scopes-group">
      <h5 class="scopes-group__title">
        <%= group_name %>
      </h5>

      <div class="scopes-group__grid">
        <% scopes.each do |scope| %>
          <%= f.dsfr_scope scope, disabled: true %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
