<p>
  <%= t('.multiple_forms.description', authorization_name: @authorization_definition.name) %>
</p>

<ol>
  <% @authorization_definition.available_forms.each do |authorization_request_form| %>
    <li>
      <%= authorization_request_form.name %>
      <%= link_to 'Débuter mon habilitation', start_authorization_request_forms_path(form_uid: authorization_request_form.id) %>
    </li>
  <% end %>
</ol>
