<div class="sub-header">
  <h1>
    <%= t(
      "authorization_requests.new.default.title",
      authorization_name: @facade.authorization_definition_name,
    ) %>
  </h1>
</div>

<div class="fr-callout">
  <h3 class="fr-callout__title"><%= t("authorization_requests.new.api_r2p.callout_title") %></h3>
  <p class="fr-callout__text"><%= t("authorization_requests.new.api_r2p.callout_content") %></p>
  <%= link_to t("authorization_requests.new.api_r2p.cta"), new_authorization_request_path(definition_id: 'api_sfip'), class: "fr-btn" %>
</div>
