<h2 class="fr-mt-16v">
  <%= t('.title', authorization_name: @authorization_definition.name) %>
</h2>

<div class="fr-mb-4w">
  <div class="border-frame-text fr-my-3w">
    <%= simple_format t("authorization_request_forms.new.#{@authorization_definition.kind}.organization.start_text",
      organization_raison_sociale: current_organization.raison_sociale,
      organization_siret: current_organization.siret).html_safe,
      {}, wrapper_tag: 'div' %>
  </div>

  <p>
    <%= t('.multiple_forms.description', authorization_name: @authorization_definition.name) %>
  </p>

  <div class="fr-grid-row fr-grid-row--center">
    <% @authorization_definition.available_forms.each do |authorization_request_form| %>
      <div class="fr-col-md-4 fr-col-xl-4 fr-col-12 fr-p-2w">
        <%=
          render partial: "authorization_request_forms/authorization_request_form_card",
            locals: {
              authorization_request_form:,
            }
        %>
      </div>
    <% end %>
  </div>
</div>
