<div>
  <h1 class="fr-mt-5v"><%= t('.title') %></h1>
  <iframe
      class="fr-col-12"
      height="810"
      src="https://metabase.entreprise.api.gouv.fr/public/dashboard/0e3575a3-3d93-4f1a-8550-f8f25fdbce35"
      frameborder="0"
      allowtransparency
  ></iframe>
</div>
