<div class="fr-container">
  <div class="sub-header">
    <h1>
      <%= t('.title', authorization_name: @authorization_definition.name) %>
    </h1>
  </div>

  <%=
    begin
      render partial: "authorization_requests/new/#{@authorization_definition.id}"
    rescue ActionView::MissingTemplate
      render partial: "authorization_requests/new/default"
    end
  %>
</div>
