name: "Reusable integration tests"

on:
  workflow_call:
    inputs:
      cucumber_options:
        required: true
        type: string

jobs:
  reusable-integration-tests:
    name: "Cucumber job"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: dummy
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - "6379:6379"
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: actions/cache@v5
        with:
          path: |
            /tmp/data_pass.tar
            ./.github/workflows/test.env
          key: v1-${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('Dockerfile') }}
      - run: docker load --input /tmp/data_pass.tar
      - name: Start Chrome with volume mount
        run: |
          docker run -d \
            --name chrome \
            --network="host" \
            -v ${{ github.workspace }}:/app \
            -e PORT=3333 \
            -e CONNECTION_TIMEOUT=600000 \
            ghcr.io/browserless/chromium
          sleep 5
      - run: |
          docker run \
            --network="host" \
            --env-file ./.github/workflows/test.env \
            -v ${{ github.workspace }}:/app \
            --rm data_pass bundle exec cucumber --format progress ${{ inputs.cucumber_options }}
      - name: Stop Chrome
        if: always()
        run: docker stop chrome || true
