<% if namespace?(:instruction) %>
  <div data-controller="sticky-btns-group" class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--icon-left">
    <% if policy([:instruction, @authorization_request]).approve? %>
      <%= dsfr_main_modal_button(t('.approve'), new_instruction_authorization_request_approval_path(@authorization_request), class: %w(fr-btn fr-btn--primary fr-icon-success-line fr-btn--icon-left)) %>
    <% end %>

    <% if policy([:instruction, @authorization_request]).refuse? %>
      <%= dsfr_main_modal_button(t('.refuse'), new_instruction_authorization_request_refusal_path(@authorization_request), class: %w(fr-btn fr-btn--primary fr-icon-error-line fr-btn--icon-left)) %>
    <% end %>
  </div>
<% end %>
