<% if namespace?(:instruction) %>
  <div class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--icon-left fr-mt-4v">
    <% if policy([:instruction, @authorization_request]).approve? %>
      <%= button_to t('.approve'), approve_instruction_authorization_request_path(@authorization_request), class: %w(fr-btn fr-btn--primary fr-icon-success-line fr-btn--icon-left) %>
    <% end %>

    <% if policy([:instruction, @authorization_request]).refuse? %>
      <%= button_to t('.refuse'), refuse_instruction_authorization_request_path(@authorization_request), class: %w(fr-btn fr-btn--secondary fr-icon-error-line fr-btn--icon-left) %>
    <% end %>
  </div>
<% end %>
