<%= content_for(:body) do %>
  <div class="fr-container--fluid authorization-request-form-new fr-col">
    <div class="fr-grid-row fr-col">
      <div class="fr-col-sm-12 fr-col-md-3 logo-wrapper">
        <%= image_tag('sign-document.svg', alt: 'Sign document') %>
      </div>

      <div class="fr-col-md-9 text-wrapper">
        <div class="fr-grid-row">
          <div class="fr-col-md-1"></div>
          <div class="fr-col-md-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>